@font-face {
  font-family: "IBM Plex Sans";
  src: url("IBM\ Plex\ Sans\ Var-Roman.woff2");
}
@font-face {
  font-family: "IBM Plex Mono";
  src: url("IBMPlexMono-Regular.woff2");
}
@font-face {
  font-family: Figtree;
  src: url("Figtree-Medium.woff2");
}
body {
  font-family: "IBM Plex Sans", Inter, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Figtree;
}
h1,
h2 {
  transition: 0.2s;
  padding: 8px;
  display: table;
  border-radius: 12px;
  background-color: #fbeefb;
}
h2 {
  background-color: #fceffc;
}
h1:hover,
h2:hover {
  border-radius: 8px;
}
.header {
  height: 1.6em;
  border-bottom: 1px solid black;
}
.sidebar {
  margin: 1.5em 1em 0 0;
  width: 12em;
  clear: left;
  float: left;
  border-right: 1px solid black;
}
.sidebar ul {
  list-style-type: none;
  list-style-position: outside;
  padding: 0;
}
.sidebar li {
  margin: 0 0 0.5em 0;
}
.content {
  margin: 0 0 0 13em;
}
.content p {
  line-height: 1.5em;
}
.content a {
  text-decoration: underline;
  background-color: #fff5ff;
  border-radius: 8px;
}
.content li {
  line-height: 1.5em;
  margin: 0 0 0.75em 0;
}

a {
  color: blueviolet;
  text-decoration: none;
}
a:visited {
  color: blueviolet;
}
a:hover {
  color: mediumslateblue;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #151115;
    color: #efefef;
  }
  .sidebar {
    border-color: #efefef;
  }
  .header {
    border-color: #efefef;
  }
  a {
    color: orchid;
  }
  a:visited {
    color: orchid;
  }
  a:hover {
    color: magenta;
  }
  h1,
  h2 {
    background-color: #301025;
  }
  .content a {
    background-color: #200510;
  }
}

@media (max-width: 800px) {
  .header {
    position: fixed;
    top: 84vh;
    width: 96vw;
    height: 3vh;
    background-color: white;
    border-bottom: 0;
    border-top: 1px solid;
  }
  .content {
    margin: 0 0 24vh 0;
  }
  @media (prefers-color-scheme: dark) {
    .header {
      background-color: #111511;
    }
  }
  .sidebar {
    width: 100%;
    border-right: 0;
    border-bottom: 1px solid;
    margin-top: 0;
    margin-bottom: 1.5em;
  }
}
